<template>
	<view class="content">
		<view class="text-area" @click="couple">
			<text class="title">情侣</text>
			<text class="title">版本</text>
		</view>
		<image src="/static/home.png" class="background"></image>
		<view class="text-area2">
			<text class="title">普通</text>
			<text class="title">版本</text>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				title: 'Hello'
			}
		},
		onLoad() {

		},
		methods: {
			couple(){
				uni.navigateTo({
					url:"/pages/index/mode"
				})
			}
		}
	}
</script>

<style>
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.logo {
		height: 200rpx;
		width: 200rpx;
		margin-top: 200rpx;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50rpx;
	}
	.background{
		position: absolute;
		width: 100%;
		height: 600rpx;
	}
	.text-area {
		align-items: center;
		width: 100%;
		height: 50vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: linear-gradient(to top right,#EC2D13,#DA611C);
	}

	.title {
		padding-bottom: 40rpx;
		font-size: 60rpx;
		font-family: "Times New Roman", Times, serif;
		color: #000000;
		font-weight: 500;
	}
	
	.text-area2 {
		align-items: center;
		width: 100%;
		height:50vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: linear-gradient(to top right,#6D3DAD,#C354F1);
	}
</style>
