<template>
	<view class="container container27748">
		<swiper class="swiper" indicator-color="rgba(51, 51, 51, 0.39)" indicator-active-color="#fff"
			indicator-dots="true" circular="true">
			<swiper-item class="first">
				<image class="image1" src="../../static/first01.png"></image>
				<text class="text1">温柔</text>
				<text class="text2">此模式可完美开启与朋友小聚
					,或情侣相处的夜晚，有助于
					调节气氛增加好感~
				</text>
				<image class="image2" src="/static/first02.png"></image>
			</swiper-item>

			<swiper-item class="second">
				<image class="image1" src="/static/second01.png"></image>
				<text class="text1">趣味</text>
				<text class="text2">此模式面向所有年龄段，提供
					简单益智充满乐趣的娱乐方式.
				</text>
				<image class="image2" src="/static/second02.png"></image>
			</swiper-item>

			<swiper-item class="third">
				<image class="image1" src="/static/third01.png"></image>
				<text class="text1">暧昧</text>
				<text class="text2">难度加大，变得稍微有些刺激，
					游戏惩罚更加放肆，问题更加
					大胆，快与你的伙伴一起享受，
					这一兴奋紧张的时刻吧！
				</text>
				<image class="image2" src="/static/third02.png"></image>
			</swiper-item>

			<swiper-item class="fourth">
				<image class="image1" src="/static/fourth01.png"></image>
				<text class="text1">刺激</text>
				<text class="text2">此模式让您与其他玩家更
					深层次的交流~请准备好，
					越过前戏阶段~气氛更浓烈！
				</text>
				<image class="image2" src="/static/fourth02.png"></image>
			</swiper-item>

			<swiper-item class="fifth">
				<image class="image1" src="/static/fifth01.png"></image>
				<text class="text1">疯狂</text>
				<text class="text2">此时已经没有限制，发掘新
                                    的惩罚和问题，满足你们的
                                    欲望。绝对不会忘记对方！
				</text>
				<image class="image2" src="/static/fifth02.png"></image>
			</swiper-item>

		</swiper>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				//用户全局信息
				userInfo: {},
				//页面传参
				globalOption: {},
				//自定义全局变量
				globalData: {}
			};
		},
		onShow() {

		},
		onLoad(option) {

		},
		methods: {

		}
	};
</script>

<style lang="scss" scoped>
	.container27748 {
		padding-left: 0px;
		padding-right: 0px;
	}

	.container27748 {}

	.swiper {
		width: 100%;
		height: 100vh;
	}

	.first {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		background: linear-gradient(#3AF789, #40F1E9);
		align-items: center;
		justify-content: center;
	}

	.second {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		background: linear-gradient(#3AF0F7, #4190F1);
		align-items: center;
		justify-content: center;
	}

	.third {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		background: linear-gradient(#F7703A, #F2C941);
		align-items: center;
		justify-content: center;
	}

	.fourth {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		background: linear-gradient(#F73A82, #F25A41);
		align-items: center;
		justify-content: center;
	}

	.fifth {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		background: linear-gradient(#983AF7, #F140EC);
		align-items: center;
		justify-content: center;
	}

	.image1 {
		width: 250rpx;
		height: 250rpx;
	}

	.image2 {
		margin-top: 40rpx;
		width: 400rpx;
		height: 100rpx;
	}

	.text1 {
		margin-top: 20rpx;
		font-size: 90rpx;
		font-weight: bold;
		color: #000000;
	}

	.text2 {
		margin-top: 40rpx;
		font-size: 45rpx;
		font-weight: bold;
		color: #000000;
	}
</style>